body {
  background: #ebf1f4;
}
.sct_default {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f4f4f4;
  .sct_btn_filter {
    .v-btn {
      font-size: 0.75rem;
      box-shadow: none;
      margin-right: 5px;
      &.aply {
        color: #cdf4f5;
        background-color: #04c8cc;
      }
    }
  }
  .sct_row {
    display: flex;
    flex-direction: row;
  }
  .sct_default_search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    width: 60%;
    .v-input {
      .v-input__slot {
        background-color: #f4f4f4;
        border-radius: 8px;
        box-shadow: none !important;
      }
    }
    .v-btn {
      &.btn_search_filter {
        margin-right: 10px;
        color: #04c8cc;
        font-size: 0.9rem;
        background-color: #cdf4f5;
        &.clear {
          color: #cc0404;
          background-color: #f5cdcd;
        }
      }
      &.btn_search {
        margin-left: 10px;
        color: #04c8cc;
        font-size: 0.9rem;
        background-color: #cdf4f5;
      }
      &.btn_search_clean {
        margin-left: 10px;
        color: #cc0404;
        background-color: #f5cdcd;
      }
    }
  }
}
.theme_title_section {
  p {
    letter-spacing: -0.2px;
    font-weight: 600;
    color: #040404;
  }
}
.v-btn.add_employee {
  border-radius: 50%;
  position: relative;
  padding: 0 !important;
  height: 48px !important;
  min-width: 48px !important;
  border: 1px solid #ddd;
  img {
    max-width: 100%;
    height: 32px;
    width: 32px;
    object-fit: contain;
  }
  .v-icon.v-icon {
    position: absolute;
    bottom: -10px;
    right: -4px;
  }
}

.v-data-table {
  .v-data-table-header {
    background-color: #f4f4f4;
    color: #ddd;
  }
  td.text-start {
    font-size: 0.75rem;
  }
  .table-icon {
    display: flex;
    flex-direction: row;
    .v-btn {
      height: 32px;
      width: 32px;

      color: #0484ec;
      background-color: #daedfc;
      margin-right: 10px;
      i {
        font-size: 18px;
      }
    }
  }
  .table-col {
    span {
      &.gre_lb {
        padding: 2px 5px;
        border-radius: 4px;
        color: #488c70;
        font-size: 0.9rem;
        background-color: #ecf8f1;
      }
      span.span-text {
        font-size: 0.75rem;
        font-weight: 600;
      }
    }
  }
}

.v-snack {
  .v-snack__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .v-btn {
      margin-left: 20px;
      color: #ddd;
      background-color: #cdf4f5;
    }
  }
}

.ctn_btn_conf {
  .v-btn {
    &.btn_yes {
      margin-right: 10px;
      color: #04c8cc;
      font-size: 0.9rem;
      background-color: #cdf4f5;
    }
    &.btn_search {
      margin-left: 10px;
      color: #04c8cc;
      font-size: 0.9rem;
      background-color: #cdf4f5;
    }
    &.btn_search_clean {
      margin-left: 10px;
      color: #cc0404;
      background-color: #f5cdcd;
    }
  }
}
