<template>
  <div>
    <v-container>
      <section class="sct_default">
        <v-row>
          <v-col cols="12">
            <div class="theme_title_section">
              <p>Registro de empleados</p>
            </div>
            <v-btn text class="add_employee" @click="newOpen = true">
              <img src="/img/face_add.png" alt="" />
              <v-icon class="i_flot">mdi-plus-circle </v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </section>
      <section class="sct_default">
        <div class="sct_row">
          <div class="sct_default_search">
            <v-btn
              v-if="filterActive == false"
              text
              icon
              class="btn_search_filter"
              @click="openFilter()"
            >
              <v-icon>mdi-table-filter</v-icon>
            </v-btn>
            <v-btn
              v-if="filterActive == true"
              text
              icon
              class="btn_search_filter clear"
              @click="clearFilter()"
            >
              <v-icon>mdi-table-filter</v-icon>
            </v-btn>
            <v-text-field
              v-model="searchSuper"
              prepend-inner-icon="mdi-magnify"
              solo
              label="Buscar..."
              hide-details
            ></v-text-field>
            <v-btn
              v-if="searchFlag == true"
              text
              class="btn_search"
              @click="actionSearch()"
              >Buscar</v-btn
            >
            <v-btn
              v-if="searchFlag == false"
              text
              class="btn_search_clean"
              @click="clearSearch()"
            >
              <v-icon>mdi-close</v-icon>
              LIMPIAR
            </v-btn>
          </div>
        </div>
      </section>
      <section v-if="filterFlag == true" class="sct_default">
        <v-radio-group row v-model="filterGroup">
          <v-radio
            v-for="n in listFilter"
            :key="n.id"
            :label="`${n.name}`"
            :value="n.id"
          ></v-radio>
        </v-radio-group>
        <div
          v-if="filterGroup == 'typeDni' || filterGroup == 'country'"
          class="theme_title_section"
        >
          <p>Especificos</p>
        </div>
        <div>
          <div v-if="filterGroup == 'typeDni'">
            <v-select
              ref="typeDni"
              dense
              v-model="typeDni"
              :items="listTypeDni"
              label="Tipo de identificación"
            ></v-select>
          </div>
          <div v-if="filterGroup == 'country'">
            <v-select
              ref="country"
              dense
              v-model="country"
              :items="listCountry"
              label="Pais"
            ></v-select>
          </div>
        </div>
        <div class="sct_btn_filter">
          <v-btn class="aply" @click="applyFilter()">APLICAR FILTRO</v-btn>
          <v-btn @click="clearFilter()">QUITAR FILTRO</v-btn>
        </div>
      </section>
    </v-container>
    <v-container>
      <v-row>
        <v-col cols="6">
          <div class="theme_title_section">
            <p>Listado de empleados</p>
          </div>
        </v-col>
        <v-col cols="6"> </v-col>
      </v-row>
      <v-row>
        <v-col cols="12">
          <v-data-table
            :headers="headerSpace"
            :items="listData"
            :server-items-length="totalNumberOfItems"
            :options.sync="pagination"
            :sort-by="['createdAt']"
            :sort-desc="[true]"
            multi-sort
            loading-text="Cargando información …."
          >
            <template v-slot:[`item.state`]="{ item }">
              <div class="table-col">
                <span :class="item.state == true ? 'gre_lb' : 'red_lb'">
                  <span class="span-text" v-if="item.state == true"
                    >ACTIVO</span
                  >
                  <span class="span-text" v-else>INACTIVO</span>
                </span>
              </div>
            </template>
            <template v-slot:[`item.action`]="{ item }">
              <div class="table-icon">
                <v-btn icon class="btn-me" @click="editItem(item)">
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
                <v-btn icon class="btn-me" @click="deleteItem(item)">
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </div>
            </template>
            <template v-slot:[`item.admissionDate`]="{ item }">
              <div class="tab-info-space">
                <span>{{ item.admissionDate | formatDateShort }}</span>
              </div>
            </template>
            <template v-slot:[`item.updateAt`]="{ item }">
              <div class="tab-info-space">
                <span>{{ item.updateAt | formatDate }}</span>
              </div>
            </template>
            <template v-slot:[`item.createdAt`]="{ item }">
              <div class="tab-info-space">
                <span>{{ item.createdAt | formatDate }}</span>
              </div>
            </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-container>
    <v-row>
      <v-col cols="12">
        <!-- <div>
            <p>listado</p>
          </div> -->
        <snackbar-comp
          :visible="this.snackbarFlat"
          :action="this.snackbarStatus"
          :text="this.snackbarText"
        ></snackbar-comp>
        <new-employee
          :visible="newOpen"
          :statePros="true"
          @close="newOpen = false"
        ></new-employee>
        <delete-employee
          :item="itemObjct"
          :visible="deleteFlag"
          @close="deleteFlag = false"
        ></delete-employee>
        <edit-employee
          :item="itemObjct"
          :visible="editFlag"
          @close="editFlag = false"
        ></edit-employee>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import moment from "moment";
import axios from "axios";
import SnackbarComp from "@/components/template/Snackbar.vue";
import NewEmployee from "@/components/employee/New.vue";
import EditEmployee from "@/components/employee/Edit.vue";
import DeleteEmployee from "@/components/employee/Delete.vue";
export default {
  name: "HomeView",
  components: {
    NewEmployee,
    EditEmployee,
    DeleteEmployee,
    SnackbarComp
  },
  data() {
    return {
      newOpen: false,
      deleteFlag: false,
      editFlag: false,
      searchFlag: true,
      filterFlag: false,
      filterActive: false,
      listData: [],
      searchSuper: "",
      filterGroup: "all",
      custom: "",
      departmentCompany: null,
      country: null,
      listCountry: ["Colombia", "Estados Unidos"],
      typeDni: null,
      listTypeDni: [
        "Cedula del ciudadania",
        "Cedula Extranjera",
        "Pasaporte",
        "Permiso Especial"
      ],
      listFilter: [
        {
          id: "all",
          name: "Todos"
        },
        {
          id: "middleName",
          name: "Primer apellido"
        },
        {
          id: "lastName",
          name: "Segundo apellido"
        },
        {
          id: "firstName",
          name: "Primer nombre"
        },
        {
          id: "numberDni",
          name: "# Indentifcación"
        },
        {
          id: "country",
          name: "Pais"
        },
        {
          id: "typeDni",
          name: "Tipo Ident."
        },
        {
          id: "email",
          name: "Email"
        }
      ],
      itemObjct: {},
      page: 0,
      totalNumberOfItems: 0,
      pagination: {
        page: +this.$route.query.page || 1,
        itemsPerPage: 10
      },
      headerSpace: [
        { text: "Estado", value: "state", sortable: false },
        { text: "Apellido#1", value: "middleName", sortable: false },
        { text: "Apellido#2", value: "lastName", sortable: false },
        { text: "Nombre#1", value: "firstName", sortable: false },
        { text: "Nombre#2", value: "otherName", sortable: false },
        { text: "Ciudad", value: "country", sortable: false },
        { text: "Tipo", value: "typeDni", sortable: false },
        { text: "Numero", value: "numberDni", sortable: false },
        { text: "F.ingreso", value: "admissionDate", sortable: false },
        { text: "Area", value: "departmentCompany", sortable: false },
        { text: "Email", value: "email", sortable: false },
        { text: "updateAt", value: "updateAt", sortable: false },
        { text: "createdAt", value: "createdAt", sortable: false },
        { text: "", value: "action", sortable: false }
      ],
      snackbarFlat: false,
      snackbarStatus: null,
      snackbarText: null
    };
  },
  async created() {
    await this.getList();
    this.$root.$on("reload", async () => {
      await this.getList();
    });
    this.$root.$on("snackbar", async (el) => {
      if (el != null) {
        await this.getSnackbar(el);
      }
    });
  },
  watch: {
    snackbar: {
      handler() {
        this.$root.$on("snackbar", async (el) => {
          await this.getSnackbar(el);
        });
      },
      deep: true
    },
    filterGroup() {
      this.clearFilterCustom();
    },
    pagination: {
      handler() {
        this.getList().then((el) => {
          this.listData = el.docs;
        });
      },
      deep: true
    }
  },
  methods: {
    async actionSearch() {
      this.searchFlag = false;
      await this.getList();
    },
    clearFilterCustom() {
      this.searchFlag = true;
      this.searchSuper = "";
      this.typeDni = null;
      this.country = null;
      this.custom = "";
    },
    clearSearch() {
      this.searchFlag = true;
      this.searchSuper = "";
      this.getList();
    },
    openFilter() {
      this.filterActive = true;
      this.filterFlag = true;
      this.getList();
    },
    clearFilter() {
      this.filterActive = false;
      this.filterFlag = false;
      this.filterGroup = "all";
      this.getList();
    },
    async applyFilter() {
      this.custom = this.typeDni != null ? this.typeDni : this.country;
      this.getList();
    },
    async getList() {
      try {
        return new Promise((resolve, reject) => {
          axios
            .get(
              `employee/list?page=${this.pagination.page}&search=${this.searchSuper}&filter=${this.filterGroup}&custom=${this.custom}`
            )
            .then((res) => {
              this.listData = res.data.docs;
              this.totalNumberOfItems = res.data.totalDocs;
              resolve(res.data);
            })
            .catch((error) => {
              reject(error.response.status);
            });
        });
      } catch (error) {
        throw new Error(error.response.data);
      }
    },
    editItem(param) {
      this.itemObjct = Object.assign({}, param);
      this.editFlag = true;
    },
    deleteItem(param) {
      this.itemObjct = Object.assign({}, param);
      this.deleteFlag = true;
    },
    async getSnackbar(n) {
      this.snackbarFlat = n.visible;
      this.snackbarStatus = n.status;
      this.snackbarText = n.text;
    }
  },
  computed: {},
  filters: {
    formatDateShort: (value) => {
      if (value) {
        return moment(value).format("LL");
      }
      return "-";
    },
    formatDate: (value) => {
      if (value) {
        return moment(value).locale("es").format("LLL");
      }
      return "-";
    }
  }
};
</script>
