<!-- eslint-disable vue/no-mutating-props -->
<template>
  <div class="ctn-modal">
    <v-row justify="center">
      <v-dialog
        content-class="delete"
        class="delete"
        v-model="visible"
        persistent
      >
        <div class="ctn-modal-form">
          <div class="clse">
            <v-btn icon @click.stop="show = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </div>
          <v-form
            ref="form"
            v-model="valid"
            method="post"
            enctype="multipart/form-data"
            lazy-validation
          >
            <v-container>
              <v-row dense>
                <v-col md="12">
                  <h4>ELIMINAR EMPLEADOS</h4>
                  <p>Está seguro de que desea eliminar el empleado</p>
                </v-col>
              </v-row>
            </v-container>

            <v-spacer></v-spacer>
            <div class="ctn_btn_conf">
              <v-btn
                :disabled="!valid"
                depressed
                large
                class="btn_yes"
                @click="validate"
                >SI, ELIMINAR</v-btn
              >
              <v-btn text depressed large @click.stop="show = false"
                >CANCELAR</v-btn
              >
            </div>
          </v-form>
        </div>
      </v-dialog>
    </v-row>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "DeleteEmployee",
  components: {},
  props: ["visible", "item"],
  data() {
    return {
      errorResp: null,
      valid: true
    };
  },

  async mounted() {},

  methods: {
    ...mapActions(["employeeDelete"]),
    validate() {
      if (this.$refs.form.validate()) {
        this.deleteAction();
      }
    },
    async deleteAction() {
      try {
        let form = {
          _id: this.item._id,
          action: true
        };
        let responsed = await this.employeeDelete(form);
        if (responsed.status == 200) {
          this.$refs.form.reset();
          this.$root.$emit("reload");
          this.$root.$emit("snackbar", {
            status: 200,
            visible: true,
            text: `El empleado fue eliminado correctamente.`
          });
          this.show = false;
        }
      } catch (error) {
        this.$root.$emit("snackbar", {
          status: 404,
          visible: true,
          text: `Ocurrió un error inesperado - ${error}`
        });
        this.show = false;
      }
    }
  },

  computed: {
    show: {
      get() {
        return this.visible;
      },
      set(value) {
        if (!value) {
          this.$refs.form.reset();
          this.$emit("close");
        }
      }
    }
  }
};
</script>
<style lang="scss" scope>
@import "../../assets/scss/base.scss";

.v-dialog.delete {
  width: 400px;
  height: 220px;
  overflow: hidden;
}

.v-dialog__content {
  overflow: auto;
  .ctn-modal-form {
    height: 100%;
    margin-bottom: 50px;
    overflow: auto;
    padding: 15px 15px;
    background-color: #fff;
  }
}
</style>
