<!-- eslint-disable vue/no-mutating-props -->
<template>
  <div class="ctn-modal">
    <v-row justify="center">
      <v-dialog v-model="visible" persistent>
        <div class="ctn-modal-form">
          <div class="clse">
            <v-btn icon @click.stop="show = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </div>
          <v-form
            ref="form"
            v-model="valid"
            method="post"
            enctype="multipart/form-data"
            lazy-validation
          >
            <v-container>
              <v-row dense>
                <v-col md="12">
                  <h4>EDITAR DE EMPLEADOS</h4>
                  <p>Complete la información que quiere modificar empleado</p>
                </v-col>
                <v-row>
                  <v-col cols="4" sm="4" md="4">
                    <v-text-field
                      ref="active"
                      outlined
                      :value="item.state != true ? 'Inactivo' : 'Activo'"
                      label="Estado"
                      disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" sm="4" md="4">
                    <v-text-field
                      ref="created"
                      outlined
                      :value="item.updateAt | formatDate"
                      label="Ultima Actualización"
                      disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="4" sm="4" md="4">
                    <v-text-field
                      ref="created"
                      outlined
                      :value="item.createdAt | formatDate"
                      label="Fecha de creación"
                      disabled
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-col cols="6" sm="12" md="6">
                  <v-text-field
                    ref="middleName"
                    outlined
                    v-model="item.middleName"
                    :rules="middleNameRules"
                    label="Primer apellido"
                    @input="emailParam"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6" sm="12" md="6">
                  <v-text-field
                    ref="lastName"
                    outlined
                    v-model="item.lastName"
                    :rules="nameRules"
                    label="Segundo apellido"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6" sm="12" md="6">
                  <v-text-field
                    ref="firstName"
                    outlined
                    v-model="item.firstName"
                    :rules="nameRules"
                    label="Primer nombre"
                    @input="emailParam"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6" sm="12" md="6">
                  <v-text-field
                    ref="otherName"
                    outlined
                    v-model="item.otherName"
                    :rules="otherNameRules"
                    label="Segundo nombre"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-select
                    ref="country"
                    outlined
                    v-model="item.country"
                    :items="form.listCountry"
                    label="Pais"
                    :rules="fieldRules"
                    @change="emailParam"
                  ></v-select>
                </v-col>
                <v-row>
                  <v-col cols="6" sm="12" md="6">
                    <v-select
                      ref="typeDni"
                      outlined
                      v-model="item.typeDni"
                      :items="form.listTypeDni"
                      label="Tipo de identificación"
                      :rules="fieldRules"
                    ></v-select>
                  </v-col>
                  <v-col cols="6" sm="12" md="6">
                    <v-text-field
                      ref="numberDni"
                      outlined
                      v-model="item.numberDni"
                      :rules="numberRules"
                      label="Número de identificación"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <v-text-field
                      ref="email"
                      outlined
                      v-model="item.email"
                      :rules="emailRules"
                      label="Correo electronico"
                      required
                      disabled
                    ></v-text-field>
                    <v-btn :disabled="emailDisable" @click="emailGenerator()"
                      >Generar Correo</v-btn
                    >
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <v-text-field
                      ref="admissionDate"
                      :value="dateAdmFormat"
                      label="Fecha de ingreso"
                      prepend-icon="mdi-calendar"
                      disabled
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <v-select
                      ref="departmentCompany"
                      outlined
                      v-model="item.departmentCompany"
                      :items="form.listDepartment"
                      label="Area"
                      :rules="fieldRules"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-row>
            </v-container>
            <v-spacer></v-spacer>
            <div class="ctn_btn_shop">
              <v-btn
                :disabled="!valid"
                depressed
                large
                color="primary"
                @click="validate"
                >EDITAR</v-btn
              >
            </div>
          </v-form>
        </div>
      </v-dialog>
    </v-row>
  </div>
</template>
<script>
import moment from "moment";
import { mapActions } from "vuex";
export default {
  name: "EditEmployee",
  components: {},
  props: ["visible", "item"],
  data() {
    return {
      errorResp: null,
      form: {
        listCountry: ["Colombia", "Estados Unidos"],
        listTypeDni: [
          "Cedula del ciudadania",
          "Cedula Extranjera",
          "Pasaporte",
          "Permiso Especial"
        ],
        listDepartment: [
          "Administración",
          "Financiera",
          "Compras",
          "Infraestructura",
          "Operación",
          "Talento Humano",
          "Servicios Varios"
        ]
      },
      menu: null,
      valid: true,
      validEmail: true,
      numberRules: [
        (v) => !!v || "Este campo es requerido.",
        (v) =>
          (v && v.length <= 20) ||
          "Este campo debe tener menos de 20 caracteres.",
        (v) => /^\S*$/g.test(v) || "No se permite espacios",
        (v) => /^[a-zA-Z0-9-]*$/g.test(v) || "Solo se permiten el carater (-)"
      ],
      nameRules: [
        (v) => !!v || "Este campo es requerido.",
        (v) =>
          (v && v.length <= 20) ||
          "Este campo debe tener menos de 20 caracteres.",
        (v) =>
          /^\S+[^0-9]*$/g.test(v) ||
          "No se permiten numeros o espacios al inicio",
        (v) => /^[A-Z]*$/g.test(v) || "Solo letras en Mayusculas y sin espacios"
      ],
      middleNameRules: [
        (v) => !!v || "Este campo es requerido.",
        (v) =>
          (v && v.length <= 20) ||
          "Este campo debe tener menos de 20 caracteres.",
        (v) =>
          /^\S+[^0-9]*$/g.test(v) ||
          "No se permiten numeros o espacios al inicio",
        (v) => /^[A-Z_ ]*$/g.test(v) || "Solo letras en Mayusculas"
      ],
      otherNameRules: [
        (v) => !!v || "Este campo es requerido.",
        (v) =>
          (v && v.length <= 50) ||
          "Este campo debe tener menos de 50 caracteres.",
        (v) =>
          /^\S+[^0-9]*$/g.test(v) ||
          "No se permiten numeros o espacios al inicio",
        (v) => /^[A-Z_ ]*$/g.test(v) || "Solo letras en Mayusculas"
      ],
      emailRules: [
        (v) => !!v || "Este campo es requerido.",
        (v) =>
          (v && v.length <= 300) ||
          "Este campo debe tener menos de 300 caracteres.",
        (v) =>
          /^[^\s@]+@([^\s@.,]+\.)+[^\s@.,]{2,}$/g.test(v) || "Formato invalido"
      ],
      fieldRules: [(v) => !!v || "Este campo es requerido."]
    };
  },
  methods: {
    ...mapActions(["employeeEdit", "generateEmail"]),
    validate() {
      if (this.$refs.form.validate()) {
        this.register();
      }
    },
    async register() {
      let responsed = await this.employeeEdit(this.item);
      try {
        if (responsed.status == 200) {
          this.$refs.form.reset();
          this.$root.$emit("reload");
          this.$root.$emit("snackbar", {
            status: 200,
            visible: true,
            text: `El empleado fue editado correctamente`
          });
          this.show = false;
        }
        if (responsed.status == 422) {
          this.$root.$emit("snackbar", {
            status: 200,
            visible: true,
            text: `Tipo de documento y numero ya existen`
          });
        }
      } catch (error) {
        this.$root.$emit("snackbar", {
          status: 404,
          visible: true,
          text: `Ocurrió un error inesperado - ${error}`
        });
      }
    },
    async emailGenerator() {
      let respo = await this.generateEmail(this.item);
      if (respo.status == 200) {
        // eslint-disable-next-line vue/no-mutating-props
        this.item.email = await respo.data;
      }
    },
    emailParam() {
      // eslint-disable-next-line vue/no-mutating-props
      this.item.email = null;
      if (
        this.item.firstName != null &&
        this.item.middleName != null &&
        this.item.country != null
      ) {
        this.validEmail = false;
      } else {
        this.validEmail = true;
      }
    }
  },
  computed: {
    dateMin() {
      let d = new Date();
      d.setDate(d.getDate() - 30);
      return d;
    },
    dateAdmFormat() {
      if (this.item == null) {
        return null;
      } else {
        return moment(this.item.admissionDate).locale("es").format("LLL");
      }
    },
    emailDisable() {
      return this.validEmail;
    },
    show: {
      get() {
        return this.visible;
      },
      set(value) {
        if (!value) {
          this.$refs.form.reset();
          this.$emit("close");
        }
      }
    }
  },
  filters: {
    formatDate: (value) => {
      if (value) {
        return moment(value).locale("es").format("LLL");
      }
      return "-";
    }
  }
};
</script>
<style lang="scss" scope>
@import "../../assets/scss/base.scss";
.v-dialog {
  width: 800px;
  height: 100%;
  overflow: hidden;
}
.v-dialog__content {
  overflow: auto;
  .ctn-modal-form {
    height: 100%;
    margin-bottom: 50px;
    overflow: auto;
    padding: 15px 15px;
    background-color: #fff;
  }
}
</style>
