<!-- eslint-disable vue/no-mutating-props -->
<template>
  <div class="ctn-modal">
    <v-row justify="center">
      <v-dialog v-model="visible" persistent>
        <div class="ctn-modal-form">
          <div class="clse">
            <v-btn icon @click.stop="show = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </div>
          <v-form
            ref="form"
            v-model="valid"
            method="post"
            enctype="multipart/form-data"
            lazy-validation
          >
            <v-container>
              <v-row dense>
                <v-col md="12">
                  <h4>REGISTRO DE EMPLEADOS</h4>
                  <p>Complete la información del nuevo empleado</p>
                </v-col>
                <v-col cols="6" sm="12" md="6">
                  <v-text-field
                    ref="middleName"
                    outlined
                    v-model="form.middleName"
                    :rules="middleNameRules"
                    label="Primer apellido"
                    required
                    @input="emailParam"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" sm="12" md="6">
                  <v-text-field
                    ref="lastName"
                    outlined
                    v-model="form.lastName"
                    :rules="nameRules"
                    label="Segundo apellido"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="6" sm="12" md="6">
                  <v-text-field
                    ref="firstName"
                    outlined
                    v-model="form.firstName"
                    :rules="nameRules"
                    label="Primer nombre"
                    required
                    @input="emailParam"
                  ></v-text-field>
                </v-col>
                <v-col cols="6" sm="12" md="6">
                  <v-text-field
                    ref="otherName"
                    outlined
                    v-model="form.otherName"
                    :rules="otherNameRules"
                    label="Segundo nombre"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="12" md="12">
                  <v-select
                    ref="country"
                    outlined
                    v-model="form.country"
                    :items="form.listCountry"
                    label="Pais"
                    :rules="fieldRules"
                    @change="emailParam"
                  ></v-select>
                </v-col>
                <v-row>
                  <v-col cols="6" sm="12" md="6">
                    <v-select
                      ref="typeDni"
                      outlined
                      v-model="form.typeDni"
                      :items="form.listTypeDni"
                      label="Tipo de identificación"
                      :rules="fieldRules"
                    ></v-select>
                  </v-col>
                  <v-col cols="6" sm="12" md="6">
                    <v-text-field
                      ref="numberDni"
                      outlined
                      v-model="form.numberDni"
                      :rules="numberRules"
                      label="Número de identificación"
                      required
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <v-text-field
                      ref="email"
                      outlined
                      v-model="form.email"
                      :rules="emailRules"
                      label="Correo electronico"
                      required
                      disabled
                    ></v-text-field>
                    <v-btn :disabled="emailDisable" @click="emailGenerator()"
                      >Generar Correo</v-btn
                    >
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <v-menu
                      ref="admissionDate"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="form.admissionDate"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="form.admissionDate"
                          label="Fecha de ingreso"
                          prepend-icon="mdi-calendar"
                          readonly
                          :rules="fieldRules"
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        v-model="form.admissionDate"
                        no-title
                        scrollable
                        :min="dateMin.toISOString().substr(0, 10)"
                        :max="new Date().toISOString().substr(0, 10)"
                      >
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menu = false">
                          Cancel
                        </v-btn>
                        <v-btn
                          text
                          color="primary"
                          @click="$refs.admissionDate.save(form.admissionDate)"
                        >
                          OK
                        </v-btn>
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                  <v-col cols="12" sm="12" md="12">
                    <v-select
                      ref="departmentCompany"
                      outlined
                      v-model="form.departmentCompany"
                      :items="form.listDepartment"
                      label="Area"
                      :rules="fieldRules"
                    ></v-select>
                  </v-col>
                </v-row>
              </v-row>
            </v-container>
            <v-spacer></v-spacer>
            <div class="ctn_btn_shop">
              <v-btn
                :disabled="!valid"
                depressed
                large
                color="primary"
                @click="validate"
                >GUARDAR NUEVO EMPLEADO</v-btn
              >
            </div>
          </v-form>
        </div>
      </v-dialog>
    </v-row>
  </div>
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "NewEmployee",
  components: {},
  props: ["visible", "statePros"],
  data() {
    return {
      errorResp: null,
      form: {
        middleName: null,
        lastName: null,
        firstName: null,
        otherName: null,
        country: null,
        listCountry: ["Colombia", "Estados Unidos"],
        typeDni: null,
        listTypeDni: [
          "Cedula del ciudadania",
          "Cedula Extranjera",
          "Pasaporte",
          "Permiso Especial"
        ],
        numberDni: null,
        email: null,
        admissionDate: null,
        departmentCompany: null,
        listDepartment: [
          "Administración",
          "Financiera",
          "Compras",
          "Infraestructura",
          "Operación",
          "Talento Humano",
          "Servicios Varios"
        ]
      },
      menu: null,
      valid: true,
      validEmail: true,
      numberRules: [
        (v) => !!v || "Este campo es requerido.",
        (v) =>
          (v && v.length <= 20) ||
          "Este campo debe tener menos de 20 caracteres.",
        (v) => /^\S*$/g.test(v) || "No se permite espacios",
        (v) => /^[a-zA-Z0-9-]*$/g.test(v) || "Solo se permiten el carater (-)"
      ],
      nameRules: [
        (v) => !!v || "Este campo es requerido.",
        (v) =>
          (v && v.length <= 20) ||
          "Este campo debe tener menos de 20 caracteres.",
        (v) =>
          /^\S+[^0-9]*$/g.test(v) ||
          "No se permiten numeros o espacios al inicio",
        (v) => /^[A-Z]*$/g.test(v) || "Solo letras en Mayusculas y sin espacios"
      ],
      middleNameRules: [
        (v) => !!v || "Este campo es requerido.",
        (v) =>
          (v && v.length <= 20) ||
          "Este campo debe tener menos de 20 caracteres.",
        (v) =>
          /^\S+[^0-9]*$/g.test(v) ||
          "No se permiten numeros o espacios al inicio",
        (v) => /^[A-Z_ ]*$/g.test(v) || "Solo letras en Mayusculas"
      ],
      otherNameRules: [
        (v) => !!v || "Este campo es requerido.",
        (v) =>
          (v && v.length <= 50) ||
          "Este campo debe tener menos de 50 caracteres.",
        (v) =>
          /^\S+[^0-9]*$/g.test(v) ||
          "No se permiten numeros o espacios al inicio",
        (v) => /^[A-Z_ ]*$/g.test(v) || "Solo letras en Mayusculas"
      ],
      emailRules: [
        (v) => !!v || "Este campo es requerido.",
        (v) =>
          (v && v.length <= 300) ||
          "Este campo debe tener menos de 300 caracteres.",
        (v) =>
          /^[^\s@]+@([^\s@.,]+\.)+[^\s@.,]{2,}$/g.test(v) || "Formato invalido"
      ],
      fieldRules: [(v) => !!v || "Este campo es requerido."]
    };
  },
  methods: {
    ...mapActions(["employeeAdd", "generateEmail"]),
    validate() {
      if (this.$refs.form.validate()) {
        this.register();
      }
    },
    async register() {
      let responsed = await this.employeeAdd(this.form);
      try {
        if (responsed.status == 200) {
          this.$refs.form.reset();
          this.$root.$emit("reload");
          this.$root.$emit("snackbar", {
            status: 200,
            visible: true,
            text: `El empleado fue creado correctamente.`
          });
          this.show = false;
        }
        if (responsed.status == 422) {
          this.$root.$emit("snackbar", {
            status: 200,
            visible: true,
            text: `Tipo de documento y numero ya existeN`
          });
        }
      } catch (error) {
        this.$root.$emit("snackbar", {
          status: 404,
          visible: true,
          text: `Ocurrió un error inesperado - ${error}`
        });
      }
    },
    async emailGenerator() {
      let respo = await this.generateEmail(this.form);
      if (respo.status == 200) {
        this.form.email = await respo.data;
      }
    },
    emailParam() {
      this.form.email = null;
      if (
        this.form.firstName != null &&
        this.form.middleName != null &&
        this.form.country != null
      ) {
        this.validEmail = false;
      } else {
        this.validEmail = true;
      }
    }
  },
  computed: {
    dateMin() {
      let d = new Date();
      d.setDate(d.getDate() - 30);
      return d;
    },
    emailDisable() {
      return this.validEmail;
    },
    show: {
      get() {
        return this.visible;
      },
      set(value) {
        if (!value) {
          this.$refs.form.reset();
          this.$emit("close");
        }
      }
    }
  }
};
</script>
<style lang="scss" scope>
@import "../../assets/scss/base.scss";
.v-dialog {
  width: 800px;
  height: 100%;
  overflow: hidden;
}
.v-dialog__content {
  overflow: auto;
  .ctn-modal-form {
    height: 100%;
    margin-bottom: 50px;
    overflow: auto;
    padding: 15px 15px;
    background-color: #fff;
  }
}
</style>
