<template>
  <div>
    <footer>
      <img src="/img/diegoachury.png" alt="" />
    </footer>
  </div>
</template>
<script>
export default {
  name: "FooterComp"
};
</script>
<style lang="scss" scoped>
footer {
  display: flex;
  min-height: 90px;
  align-items: center;
  justify-content: flex-end;
  background-color: #ebf1f4;
  img {
    margin-right: 40px;
    max-width: 100%;
    width: 100px;
    object-fit: contain;
  }
  p {
    margin-bottom: 0;
  }
}
</style>
