<template>
  <div>
    <header>
      <v-container>
        <v-row>
          <v-col cols="12">
            <img src="img/logo-cidenet.png" alt="" />
          </v-col>
        </v-row>
      </v-container>
    </header>
  </div>
</template>

<script>
export default {
  name: "HeaderComp"
};
</script>

<style lang="scss" scoped>
header {
  display: flex;
  align-items: center;
  background-color: #040404;
  border-bottom: 1px solid #f4f4f4;
  height: 60px;
  margin-bottom: 10px;
  img {
    max-width: 100%;
    height: auto;
    width: 150px;
    object-fit: contain;
  }
  p {
    margin: 0;
  }
}
</style>
