<!-- eslint-disable vue/no-mutating-props -->
<template>
  <div>
    <v-snackbar
      :class="action == 200 ? 'd-success' : 'd-error'"
      :timeout="-1"
      :top="true"
      v-model="visible"
    >
      <span>{{ text }}</span>
      <div class="space-snackbar"></div>
      <v-btn color="secondary" text @click="this.close"> Cerrar </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: "snackbarComp",
  props: {
    action: {
      type: Number
    },
    visible: {
      type: Boolean,
      default: false
    },
    text: {
      type: String,
      default: "Sin mensaje"
    }
  },
  methods: {
    close() {
      this.$root.$emit("snackbar", { status: 200, visible: false });
      setTimeout(() => {
        this.$root.$emit("snackbar", { status: 200, visible: false });
      }, 1000);
    }
  },
  computed: {}
};
</script>

<style></style>
