<template>
  <v-app>
    <header-comp></header-comp>
    <v-main>
      <router-view />
    </v-main>
    <footer-comp></footer-comp>
  </v-app>
</template>

<script>
import HeaderComp from "@/components/template/Header.vue";
import FooterComp from "@/components/template/Footer.vue";

export default {
  name: "App",
  components: {
    HeaderComp,
    FooterComp
  },
  data: () => ({
    //
  })
};
</script>
<style lang="scss" scoped>
@import "../src/assets/scss/base.scss";
</style>
